################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/meicc/bin
/meicc/obj/Debug
/meicc/Scripts/ckeditor
/packages
